<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
       <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=processes;AccountKey=RgAVKy0ldDbJlaIDnuK8Os8a+9TpSc8sSnxkIchNHqEfYnJkZm8+JuoQMBO/9IroNtoMQ+LHtLMDDWQP1eqQ3Q==" />
    </appSettings>
  
    <connectionStrings>
        <add name="DroidPMClient.Properties.Settings.locationawarepm_dbConnectionString"
            connectionString="Data Source=q0qcqraoho.database.windows.net;Initial Catalog=locationawarepm_db;User ID=locationawarepm;Password=d0notSh@r0n;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>